.date{
    text-align: center;
    margin-bottom: 320px;
}
#polzunok{
margin-left: 100px;
margin-right: 100px;
}

.polz{
    text-align: center;
    margin: 20px;
}
#result-polzunok{
    width: 100px;
}

#SinoptikInformer{
    margin: 50px 600px;
}

#currency{
    margin: 30px 550px;
}

